.item{
    width:350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.item img{
    height: 200px;
    padding: 8px;
    border: 2px solid black;
    box-shadow: 2px 2px 3px black;
}

.item p{
    margin:  10px 0;
}

.item-prices{
    display: flex;
    gap: 20px;
}
.item-price-new{
    color: grey;
    font-style: 18px;
    font-weight: 600;
}

.item-price-old{
    color: rgb(187, 176, 176);
    font-style: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}
